<ion-view>
    <ion-tabs class="tabs-icon-top tabs-balanced">
        <ion-tab title="Dashboard" icon="ion-home" href="#main/dashboard">
            <ion-nav-view name="dash-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Public" icon="ion-earth" href="#main/public">
            <ion-nav-view name="public-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Favourite" icon="ion-heart" href="#main/favourite">
            <ion-nav-view name="favourite-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Inbox" icon="ion-email" href="#main/inbox">
            <ion-nav-view name="inbox-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Secret" icon="ion-nuclear" href="#main/admin">
            <ion-nav-view name="admin-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>